/output
/example/protogen_example/protogen_example/obj
/example/protogen_example/protogen_example/bin
/example/protogen_example/protogen_exampleTests/obj
/example/protogen_example/protogen_exampleTests/bin
/example/protogen_example/.vs
